:root {
  --site-theme-color: #0e0f34;
  --site-text-color: #dde2f4;
  --site-ascent-color: #202746;
  --site-alt-text-color: #9097af;
}

.navbar-styles {
  background-color: var(--site-theme-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: var(--site-text-color);
}

.navbar-container-styles {
  width: 90%;
}

.hero-section {
  width: 100%;
  height: 90vh;
  padding: 45px 10px;
  background-color: var(--site-theme-color);
  z-index: 1000;
}

.hero-header-styles {
  color: var(--site-text-color);
  font-size: 5rem;
}

.para-styles {
  color: #ffffff;
}

.hero-section-container {
  width: 90%;
}

.hero-img-container {
  z-index: 1000;
}

.custom-shape-divider-bottom-1638805866 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1638805866 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 217px;
}

.custom-shape-divider-bottom-1638805866 .shape-fill {
  fill: var(--site-ascent-color);
}

.about-section {
  background-color: var(--site-ascent-color);
  height: fit-content;
  width: 100%;
  padding: 60px 10px;
}

.about-section .about-header {
  color: var(--site-text-color);
  text-transform: uppercase;
}

.about-section .about-text {
  color: var(--site-text-color);
  width: 60%;
  margin: 20px auto;
}

.hr-style {
  background-color: var(--site-text-color);
  margin-top: 40px;
}

.about-card {
  cursor: pointer;
}

.about-card .about-card__icon {
  text-align: center;
}

.about-card .about-card__icon i {
  font-size: 3rem;
  color: #ffffff;
  margin: 15px;
}

.about-card .about-card__title {
  color: var(--site-text-color);
  margin: 20px 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.about-card .about-card__text {
  color: var(--site-alt-text-color);
  text-align: center;
  font-size: 18px;
}

.projects {
  width: 100%;
  height: fit-content;
  background-color: var(--site-theme-color);
  padding: 40px 10px;
}

.projects .projects-header {
  color: var(--site-text-color);
  text-transform: uppercase;
}

.projects-card {
  background-color: var(--site-ascent-color);
  border-radius: 4px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.projects-card:hover {
  transform: translateY(-8px);
}

.projects-card .project-img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.projects-card .project-img img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.projects-card .project-title {
  color: var(--site-text-color);
  margin: 12.4px 16px;
  font-size: 1.6rem;
  font-weight: 800;
}

.projects-card .project-text {
  text-align: center;
  color: var(--site-alt-text-color);
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact {
  width: 100%;
  height: fit-content;
  background-color: var(--site-theme-color);
  padding: 40px 10px;
}

.contact-header {
  color: var(--site-text-color);
}

.contact-text {
  color: var(--site-text-color);
  width: 60%;
  margin: 20px auto;
}

.contact .contact-find-title {
  color: var(--site-text-color);
  font-weight: 650;
  text-transform: uppercase;
}

.social-contact-container {
  display: flex;
}

.social-link-item {
  margin: 10px;
}

.social-link-item a {
  font-size: 3.3rem;
  text-decoration: none;
  color: var(--site-alt-text-color);
}

.email-contact-text {
  color: var(--site-alt-text-color);
  font-weight: 550;
}

.contact-form-input {
  border: none;
  background-color: var(--site-ascent-color);
}

.contact-form-input::placeholder {
  color: var(--site-alt-text-color);
  font-size: 1rem;
}

.contact-form-button,
.contact-form-button:hover,
.contact-form-button:active {
  border-radius: 15px;
  padding: 10px 58px;
  color: var(--site-alt-text-color);
  border: 1px solid var(--site-alt-text-color);
  background-color: var(--site-ascent-color);
}

.footer {
  width: 100%;
  height: fit-content;
  background-color: var(--site-theme-color);
  padding: 15px 5px;
}

.footer-text {
  color: var(--site-text-color);
  font-size: 18px;
}

.footer-hr-class {
  background: var(--site-alt-text-color);
  height: 0.000034rem;
}
